* {
  text-align: center;
  background: black;
  color: goldenrod;
}

h1 {
  font-family: "Undeveloped Book", sans-serif;
  font-size: 50px;
  color: goldenrod;
}

h2 {
  font-size: 18px;
}

.all-movies {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.movie-poster {
  width: 300px;
  height: 450px;
  object-fit: cover;
  border: 1px solid goldenrod;
}

.overlay {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(0, 0, 0, .5);
  backdrop-filter: blur(5px);
}

.modal-container {
  border: 2px solid black;
  background: black;
  position: fixed;
  height: 75%;
  width: 60%;
  top: 12.5vh;
  left: 20vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 10px 10px 10px goldenrod;
}

.modal-image {
height: 100%
}

.modal-input-container {
  height: 100%;
  display: flex;
}

.modal-input {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.modal-CRUD-buttons {
  display: flex;
  justify-content: space-evenly;
}

#add-movie-screen {
  height: 100vh;
}

.create-form {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: flex-start;
  margin: 0 auto;
}

.create-form-input:focus, .update-form-input:focus {
  outline: goldenrod 1px solid;
}

#add-movie-submit {
  margin: 0 auto;
}

[tabIndex] {
  outline: none;
}

#x {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  width: 30px; 
  height: 30px;
  align-self: flex-start;
  justify-self: flex-end;
  display: flex;
  justify-content: center;
  align-items: center;
}

h2, .overlay, .modal-image, .movie-poster, button {
  cursor: pointer;
}

button {
  border: 2px solid goldenrod
}

nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  color: goldenrod;
  font-family: "Undeveloped Book", sans-serif;
  font-size: 50px;
}

#home {
  justify-self: flex-start;
}

#movies {
  justify-self: center;
}

#add-movie {
  justify-self: flex-end;
}