* {
  text-align: center;
  background: black;
  color: goldenrod;
  box-sizing: border-box;
}

h1 {
  font-family: "Undeveloped Book", sans-serif;
  font-size: 50px;
  color: goldenrod;
}

h2 {
  font-size: 18px;
}

.all-movies {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.movie-poster {
  width: 300px;
  height: 450px;
  object-fit: cover;
  border: 1px solid goldenrod;
}

.overlay {
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  position: fixed;
  background: rgba(0, 0, 0, .5);
  backdrop-filter: blur(5px);
}

.modal-container {
  border: 2px solid black;
  background: black;
  position: fixed;
  height: 85%;
  width: 85%;
  top: 7.5vh;
  left: 7.5vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  box-shadow: 10px 10px 10px goldenrod;
}

.modal-image {
height: 100%
}

.modal-input-container {
  height: 100%;
  width: 100%;
  display: flex;
}

.modal-input {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: flex-start;
  width: 100%;
}

.modal-text-container {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-evenly;
  margin-left: 15px;
}

p {
  font-size: 15px;
}

.modal-text {
  align-self: flex-start;
}

.modal-text-label {
  width: 120px;
}

.modal-text, .modal-text-label {
  margin-top: 0;
  margin-bottom: 0;
  text-align: left;
}

.modal-CRUD-buttons {
  display: flex;
  justify-content: space-between;
  height: 28px;
}

#edit-button, #delete-button {
  width: 65px;
}

#add-movie-screen {
  height: 100vh;
}

.create-form {
  display: flex;
  flex-direction: column;
  width: 50%;
  align-items: flex-start;
  margin: 0 auto;
}

.create-form-input:focus, .update-form-input:focus {
  outline: goldenrod 1px solid;
}

#add-movie-submit {
  margin: 0 auto;
}

[tabIndex] {
  outline: none;
}

#x {
  font-size: 20px;
  font-family: Arial, Helvetica, sans-serif;
  width: 28px; 
  height: 28px;
  align-self: flex-start;
  justify-self: flex-end;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 15px;
}

h2, .overlay, .movie-poster, button {
  cursor: pointer;
}

button {
  border: 2px solid goldenrod
}

nav {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  color: goldenrod;
  font-family: "Undeveloped Book", sans-serif;
  font-size: 50px;
}

#home {
  justify-self: flex-start;
}

#movies {
  justify-self: center;
}

#add-movie {
  justify-self: flex-end;
}

h2 {
  font-family: 'SF Hollywood Hills', sans-serif;
}

p, label, input, button {
  font-family: 'Electrolize', sans-serif;
}

#back-button {
  align-self: flex-start;
  justify-self: flex-start;
  height: 28px;
  margin-left: 15px;
  margin-right: 15px;
}

span {
  width: 100%; 
  display: flex
}

label {
  width: 150px;
  display: flex;
}

input {
  width: 100%;
  text-align: left;
  margin-left: 5px;
  padding-left: 5px;
}

#submit-update {
  align-self: flex-end;
  height: 28px;
}